<center>
    <h1>Edit Book</h1><hr>
    <%= render "form", book: @book %>
    <hr>
    <h2 align="center">Add Article</h2>
    <%= render 'articles/form'%>
    <h2 align="center">Article In Book</h2>
    <%= render 'articles/all_article'%>
</center>